<ion-header>
  <ion-toolbar>
    <ion-title>Inscription</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Retour"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>


<!-- Textarea in an item with a placeholder -->
<ion-item>
  <ion-label position="floating">Nom:</ion-label>
  <ion-input [(ngModel)]="can_nom" type="text" placeholder="Entrer votre nom" id="can_nom"></ion-input>
</ion-item>

<!-- Textarea in an item with a floating label -->
<ion-item>
  <ion-label position="floating">Prenom:</ion-label>
  <ion-input [(ngModel)]="can_prenom" type="text" placeholder="Entrer votre Prenom" id="can_prenom"></ion-input>
</ion-item>


<!-- Textarea that clears the value on edit -->
<ion-item>
  <ion-label position="floating">Adresse:</ion-label>
  <ion-input [(ngModel)]="can_adr" type="text" placeholder="Entrer votre Adresse" id="can_adr"></ion-input>
</ion-item>

<!-- Textarea with custom number of rows and cols -->
<ion-item>
  <ion-label position="floating">Code Postal:</ion-label>
  <ion-input [(ngModel)]="can_copos" type="text" maxlength="5" placeholder="Entrer votre code postal" id="can_copos"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Ville:</ion-label>
  <ion-input [(ngModel)]="can_ville" type="text" placeholder="Entrer votre Ville" id="can_ville"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Telephone:</ion-label>
  <ion-input [(ngModel)]="can_tel" type="text" maxlength="10" placeholder="Entrer votre téléphone" id="can_tel"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Email:</ion-label>
  <ion-input [(ngModel)]="can_mail" type="text" placeholder="Entrer votre Email" id="can_email"></ion-input>
</ion-item>




<ion-list>
  

  <ion-item>
    <ion-label>Formation</ion-label>
    <ion-select placeholder="Select One" [(ngModel)]="can_form">
      <ion-select-option value="Bac Général">Bac Général </ion-select-option>
      <ion-select-option value="Bac Technologique">Bac Technologique</ion-select-option>
      <ion-select-option value="Bac Professionel">Bac Professionel</ion-select-option>
    </ion-select>
  </ion-item>
 
</ion-list>


<ion-item>
  <ion-label position="floating">Etablissement:</ion-label>
  <ion-input [(ngModel)]="lyc_nom" type="text" placeholder="Entrer votre établissement"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Adresse:</ion-label>
  <ion-input [(ngModel)]="lyc_adr" type="text" placeholder="Entrer l'adresse de votre établissement"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Code Postal:</ion-label>
  <ion-input [(ngModel)]="lyc_copos" maxlength="5" type="text" placeholder="Entrer le code postal de votre établissement"></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Ville:</ion-label>
  <ion-input [(ngModel)]="lyc_ville" type="text" placeholder="Entrer la ville de votre établissement"></ion-input>
</ion-item>


<!-- Expand -->
<ion-button (click)="addFirestore()"  expand="block" >Valider</ion-button>








</ion-content>
