<ion-content>

  <ion-content [fullscreen]="true">
  <ion-card *ngFor="let item of items | async">
    <ion-card-header>
      <ion-card-subtitle>{{ item.Formation}}</ion-card-subtitle>
      <ion-card-title>{{ item.nom }} {{ item.Prenom }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ item.Adresse }} à {{ item.Ville}}, {{ item.copos }}<br>
      Contact :{{ item.Telephone }} <br/>ou {{ item.Email }}
    </ion-card-content>
  </ion-card>

  <div *ngIf="connected">
    <h1>Vous êtes connecté</h1>
    <ion-button (click)="logout()"  expand="block" shape="round" fill="outline">Deconnexion</ion-button>
  </div>
</ion-content>
