<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Liste des inscription
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot ="fixed" disabled="false" (ionRefresh)="doRefresh($event)" pullFactor="0.5" pullMin="100" pullMax="200">  
    <ion-refresher-content  
    pullingIcon="arrow-down"  
    pullingText="Swipe pour actualiser"  
    refreshingSpinner="bubbles"  
    refreshingText="Actualisation....."></ion-refresher-content>   
  </ion-refresher> 

  <!-- <ion-searchbar
    showCancelButton 
    cancel-button-icon
    (ionCancel)="hideSearch()"
    (search)="yourSearchFunction($event.target.value)" 
    placeholder="Recherche">
</ion-searchbar> -->

  <ion-card *ngFor="let item of items | async">
    <ion-card-header>
      <ion-card-subtitle>{{ item.can_form}}</ion-card-subtitle>
      <ion-card-title>{{ item.can_nom }} {{ item.can_prenom }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="contenu">
        <p><ion-icon name="home-outline"></ion-icon> {{ item.can_adr }} à {{ item.can_ville}}, {{ item.can_copos }}<br></p>
        <p><ion-icon name="call-outline"></ion-icon> {{ item.can_tel }}<br/> <ion-icon name="mail-outline"></ion-icon> {{ item.can_mail }}<br></p>
      </div>
      <!-- div *ngFor="let etat of etats | async">
        <div *ngIf="etat.can_id == item.can_id">
          <p>Lycée actuel : {{ etat.lyc_nom}} à {{ etat.lyc_ville}}</p>
        </div>
      </div> -->
    </ion-card-content>
    <div class="flex">
      <ion-button class="archive" expand="block" fill="outline" color="dark" (click)="consulter(item.can_id)">Consulter</ion-button>
      <ion-button class="consulter" expand="block" fill="outline" color="dark">Archiver</ion-button>
    </div>
  </ion-card>

  <div *ngIf="connected">
    <h1>Vous êtes connecté</h1>
    <ion-button (click)="logout()"  expand="block" shape="round" fill="outline">Deconnexion</ion-button>
  </div>
</ion-content>
