<ion-content>

  <ion-grid class="grid1">
    <ion-row class="row1">
        <ion-col>
          <img class="logo" src="../../assets/logo_rostand.png">
          <p class="texte">
            Bienvenu au lycée Jean Rostand ! Sur cette application, crée par des étudiants de la section, cliquer sur "Inscription" pour remplir un formulaire. 
          </p>  
          <p class="texte">
            Par la suite, vous serez inscrit comme futur candidat pour rejoindre la section.
          </p>
        </ion-col>
    </ion-row>
</ion-grid>

<ion-slide>
  <div class="contaier-accueil">
      <ion-grid>
          <ion-row>
              <ion-col>
                  <ion-button expand="block" shape="round" fill="outline" routerLink="/inscription">
                    Inscription
                  </ion-button>
                  <ion-button expand="block" shape="round" fill="outline" routerLink="/login">
                    Espace enseignant
                  </ion-button>
              </ion-col>
          </ion-row>
      </ion-grid>
  </div>
</ion-slide>
</ion-content>
